.logo {
    font-family: "Consolas" !important;
    letter-spacing: -.5rem !important;
}

.dark_green {
    color: #82d173 !important;
}
.light_green {
    color: #bcf51c    !important;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
.center{
    text-align: center;
    margin: auto;
}