<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v7.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="111657817202965"
  theme_color="#6A71D8"
  logged_in_greeting="Hi! How can I help you?"
  logged_out_greeting="Hi! How can I help you?">
      </div>
    </main>

    {% include custom-foot.html %}
  </body>
</html>
