--- 
layout: default 
---

<header>
    <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
    {% include post-meta.html post=page %}

    <div class="post-body">
        <p class="col-2">{% for i in (1..page.rating) limit: 5 %}
          <i class="fa fa-star" aria-hidden="true" style="color: #ffcc00;"></i>
          {% endfor %}
          {% for i in (page.rating..4) %}
          <i class="fa fa-star-o " aria-hidden="true "></i>
          {% endfor %}</p> 
          {{ content }}
          <p> {% if page.url_twitter != null %}
            <a href="{{post.url_twitter}}" class="white-text"><i class="fa fa-twitter pr-1"></i></a> {% endif %} {% if page.url_github != null %}
            <a href="{{ post.url_github }}" class="white-text" style="color:rgb(53, 53, 53);"><i class="fa fa-github pr-1"></i></a> {% endif %}</p>
        {% include post-tags.html post=page %}
    </div>

    {% include comments.html %} {% include related_posts.html %}
</div>